@model GigHub.ViewModel.GigDetailsViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<h3>
    @Model.Gig.Artist.Name
    @if (@Model.IsFollowing)
    {

     <button class="btn btn-info btn-sm js-toggle-follow" data-user-id="@Model.Gig.ArtistId">unollow</button>
    }
    else
    {
        <button class="btn btn-default btn-sm js-toggle-follow" data-user-id="@Model.Gig.ArtistId">Follow</button>
    }
    
    </h3> 
<p>@Model.Gig.Venue</p>
<p>@Model.Gig.DateTime.ToString("dd/MM/yyyy") at @Model.Gig.DateTime.ToString("HH:mm")</p>


@if (Model.IsAttending)
{
    <p>you are going to this event.</p>
}


@section Scripts{
    <script>

        $(document).ready(function () {
            GigDetailsController.init();
        });
    
    </script>
    }